
.dashboard {
    display: flex;
    align-items: flex-start;
    background-color: rgb(227, 237, 253);
  }
  .dashboard section {
    flex: 1;
    padding: 10px 10px 10px 0;
  }
  
.charts_and_info {
    display: flex;
}
  
.overview {
    margin: 10px 0 0 0;
    background-color: #fff;
    padding: 20px 4%;
    border-radius: 5px;
    width: 65%;
    max-height: 65%;
}
.overview .user-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview .user-stats img {
    border-radius: 50%;
    margin-right: 7%;
}
.overview .user-stats .info .all-tasks,
.overview .user-stats .info .remaining-tasks {
    display: flex;
    align-items: center;
    padding: 2px 3px;
    margin-right: 20px;
    background-color: #0ff62d;
    color: #fff;
    border-radius: 20px;
    line-height: 0px;
}
.overview .user-stats .info .all-tasks {
    background-color: #0fd0f6;
}
.overview .user-stats .info {
    display: flex;
    flex-wrap: wrap;
    line-height: 10px;
}
.overview .user-stats .info h1,
.overview .user-stats .info p {
    width: 100%;
    line-height: 20px;
}
.overview .user-stats .info svg {
    padding: 7px 10px;
    background: rgba(0, 0, 0, 0.301);
    border-radius: 15px;
}
.overview .user-stats .info h3 {
    padding: 0px 10px;
}
.chart {
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.chart::before {
    content: "";
    width: 70px;
    height: 70px;
    top: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
}
.chart h2 {
    position: absolute;
    top: 35%;
    color: #0ff62d;
    font-weight: 700;
    font-size: 14px;
}
.actions {
    display: flex;
    justify-content: space-between;
    padding: 5% 0 10px 0;
    color: rgb(190, 189, 189);
    align-items: center;
}
.actions h3 {
    font-size: 14px;
    padding: 3px;
    line-height: 10px;
}
.actions span, .actions svg {
    padding: 3px 5px;
    margin: 5px;
    border-radius: 8px;
}
.actions .action-button {
    display: flex;
    align-items: center;
    border: 1px solid rgb(217, 215, 215);
    border-radius: 5px;
    line-height: 0;
    padding: 0 0 0 10px;
}
.actions .action-button a {
    line-height: 0;
    padding: 0;
    margin: 0;
    color: rgb(197, 197, 197);
    font-size: 12px;
}
.actions h3:nth-child(1) span {
    background-color: rgb(187, 187, 255);
    color: #fff;
}
.actions h3:nth-child(2) span {
    background-color: rgb(216, 216, 41);
    color: #fff;
}
.actions h3:nth-child(3) span {
    background-color: rgb(101, 213, 110);
    color: #fff;
}

.activity {
    background: #fff;
    padding: 0;
    margin: 10px 0 0px 10px;
    width: 35%;
    border-radius: 5px;
}
.activity h2 {
    margin: 0;
}

.history {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
}
.history h2.heading {
    margin-left: 30px;
    margin-bottom: 0;
}
.history .chart-overview {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.history .chart-overview .chart {
    border: 1px solid rgb(173, 236, 249);
    padding-bottom: 10px;
    border-radius: 10px;
}
.history .chart-overview h3 {
    padding: 10px 20px;
    font-size: 12px;
    margin: 10px;
    text-transform: uppercase;
    border: 1px solid rgb(173, 236, 249);
    border-radius: 5px;
}
.history .chart-overview h3 span {
    background-color: #0ff62d;
    color: #Fff;
    padding: 3px 5px;
    margin: 0 10px;
}
.history .history-box {
    display: flex;
    background-color: rgb(226, 231, 249);
    justify-content: space-evenly;
}
.history .history-box .completed,
.history .history-box .unfinished  {
    width: 48%;
    padding: 20px;
    margin: 10px;
    background-color: #Fff;
}
.history .history-box h2 {
    padding: 20px;
    margin-left: 20px;
    font-size: 12px;
    text-transform: uppercase;
}
.history .history-box .task {
    padding: 10px 30px;
    border: 1px solid rgb(207, 220, 224);
    margin: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}
.history .history-box .task h4 {
    line-height: 20px;
    width: 100%;
}
.history .history-box .task p {
    margin: 10px;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 3px;
}
.history .history-box .task p:nth-child(2) {
    background: rgb(250, 209, 209);
    color: rgb(194, 46, 46);
}
.history .history-box .task p.High:nth-child(2) {
    background: rgb(209, 228, 250);
    color: rgb(46, 100, 194);
}
.history .history-box .task p:nth-child(3) {
    background: rgb(249, 238, 173);
    color: rgb(180, 150, 17);
}
.history .history-box .task p:nth-child(4) {
    background: rgb(173, 182, 249);
    color: rgb(17, 74, 180);
}
.history .history-box .task p.completed:nth-child(5) {
    background: rgb(210, 249, 173);
    color: rgb(17, 180, 20);
}
.history .history-box .task p.ongoing:nth-child(5) {
    background: rgb(173, 182, 249);
    color: rgb(17, 74, 180);
}
.history .history-box .task p.upcoming:nth-child(5) {
    background: rgb(173, 236, 249);
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    .dashboard section {
        /* padding-left: 80px; */
        padding: 10px;
    }
    
}
@media screen and (max-width: 900px) {
    .dashboard section {
        width: 100%;
    }
    .charts_and_info {
        flex-wrap: wrap;
    }
    .overview {
        width: 100%;
        max-height: none;
    }
    .activity {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 700px) {
    .overview .user-stats {
        flex-wrap: wrap;
        position: relative;
    }
    .actions {
        flex-wrap: wrap;
    }
    .chart.today {
        position: absolute;
        top: 0;
        right: 20px;
    }
    .history .history-box {
        flex-wrap: wrap;
        width: 100%;
    }
    .history .history-box .completed,
    .history .history-box .unfinished {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .activity .canvas {
        width: 100%;
    }
    .dashboard section {
        padding-left: 10px;
    }
}