.dashboard {
    display: flex;
    align-items: flex-start;
    background-color: rgb(227, 237, 253);
}
.dashboard section {
    flex: 1;
    padding: 10px 10px 10px 0;
    padding-left: 19.5%;
    transition: 1s;
}
.dashboard .side-nav.close ~ section {
    padding-left: 10px;
    transition: 1s;
}
  
.charts_and_info {
    display: flex;
}

.dark .dashboard {
    background-color: rgb(0, 0, 0);
}
.dark .dashboard .activity,
.dark .dashboard .history,
.dark .dashboard .overview, 
.dark .dashboard .side-nav {
    background-color: rgb(29, 29, 29);
    color: rgb(228, 224, 250);
}


@media screen and (max-width: 1200px) {
    .dashboard {
        padding-left: 80px;
    }
    
}
@media screen and (max-width: 900px) {
    .dashboard section {
        width: 100%;
    }
    .charts_and_info {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px) {
    .actions {
        flex-wrap: wrap;
    }
    .chart.today {
        position: absolute;
        top: 0;
        right: 20px;
    }
}
@media screen and (max-width: 400px) {
    .dashboard section {
        padding-left: 10px;
    }
}