/*
Footer styles
*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 20%;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}
footer a {
    color: #04EC4A;
}
  
  
  /* Make responsive */
@media screen and (max-width: 900px) {
    .footer {
        padding: 3% 10%;
    }
}

@media screen and (max-width: 400px) {
    footer {
        padding: 3% 5%;
        width: 100%;
        align-items: center;
    }  
}