/*
General styles
*/
/* lato-700 - latin_latin-ext */
@font-face {
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 400;
  src: local('Akshar Regular'), local('Akshar-Regular'),
       url('./assets/fonts/static/Akshar-Regular.ttf') format('tff'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/static/Akshar-Regular.ttf') format('tff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  margin-top: 53px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

/*
Navbar styles
*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
  box-shadow: 2px 5px 10px rgba(107, 107, 107, 0.093);
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 100000;
}
.navbar .brand {
  display: flex;
  align-items: center;
  margin-left: 20%;
}
.navbar .brand .logo {
  margin-right: 10px;
}
.navbar .brand a {
  font-weight: 700;
}
.navbar .menu {
  padding: 15px;
  z-index: 10;
  font-weight: 600;
  margin-right: 20%;
}
.navbar .menu nav {
  background-color: #fff;
  display: none;
  position: fixed;
  right: 17%;
  top: 40px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 20px rgb(211, 210, 210);
}
.navbar .menu:hover nav {
  display: block;
}
.navbar .menu nav ul li {
  display: flex;
  min-width: 120px;
}
.navbar .menu nav ul li a {
  padding: 7px;
  flex: 1;
  color: rgb(153, 151, 151);
}
.navbar .menu nav ul li a:hover {
  color: #04EC4A;
}
.navbar .menu nav:before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: -14px;
  right: 10px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid #fff;
  filter: drop-shadow(2px 5px 20px rgb(211, 210, 210));
}

/*
Footer styles
*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 20%;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
}
footer a {
  color: #04EC4A;
}


/* Make responsive */
@media screen and (max-width: 900px) {
  .navbar {
    width: 100%;
  }
  .navbar .brand{
    margin-left: 10%;
  }
  .navbar .menu {
    margin-right: 10%;
  }
  .footer {
    padding: 3% 10%;
  }
}

@media screen and (max-width: 400px) {
  .navbar .brand{
    margin-left: 5%;
  }
  .navbar .menu {
    margin-right: 5%;
  }
  footer {
    padding: 3% 5%;
    width: 100%;
    align-items: center;
  }  
}