/*
  search styles
  */
  .search {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }
  .search select {
    position: absolute;
    right: 45px;
    top: 8px;
    padding: 7px;
    border-radius: 5px;
    background-color: #fff;
    border-color: #bec0bf;
  }
  .search select option {
    background-color: #fff;
  }
.search-results {
    position: absolute;
    top: 90%;
    width: 90%;
    background: #Fff;
    left: 0;
    padding: 0 5%;
    box-shadow: 3px 4px 10px rgba(153, 153, 153, 0.202);
    z-index: 10000;
}