.spaces {
    display: flex;
    background-color: rgb(227, 237, 253);
}
.spaces section {
    flex: 1;
    padding: 10px 10px 10px 0;
    padding-left: 19.5%;
    transition: 1s;
}
.spaces .side-nav.close ~ section {
    padding-left: 10px;
    transition: 1s;
}
.spaces section .search {
    margin-bottom: 10px;
}
.spaces .spaces-board {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 30px;
}
.spaces .spaces-board .space-list {
    display: flex;
}
.spaces .spaces-board .space {
    padding: 10px 20px;
    background-color: rgb(251, 251, 251);
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(231, 231, 248);
    font-size: 12px;
    cursor: pointer;
}
.spaces .spaces-board .space.active {
    border: 2px solid #04EC4A;
    color: #04EC4A;
}
.space h1 {
    line-height: 0;
    margin-bottom: 0;
    padding: 10px 15px;
    background-color: rgba(30, 47, 110, 0.201);
    color: #fff;
    border-radius: 7px;
}
.space input {
    width: 85%;
    margin-bottom: 10px;
    border: 1px solid rgb(240, 240, 240);
}
.space button {
    padding: 5px 7px;
    border: none;
    background-color: rgb(0, 224, 15);
    color: #fff;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    .spaces section {
        padding-left: 250px;
    }
}
@media screen and (max-width: 1000px) {
    .spaces section {
        min-height: 70vh;
    }
    .spaces .spaces-board .space-list {
        flex-wrap: wrap;
    }
}